 html {
    position: relative;
    min-height: 100%;
}
 
 body {
		font-family: Trebuchet MS;
		margin: 0 0 100px; /* bottom = footer height */
      }
	  
.page-header>img {
    float: left;
    margin: 0 15px 0 0;
}

.page-header h1 {
	line-height: 64px;
	font-weight: 100;
}

h3 {
	font-weight: 100;
}

.twrt {
	float: right;
	width: 300px;
    margin-top: 20px;
    display: inline-block;
	text-align: right;
}

.img-rounded {
	margin-bottom: 15px;
}

.tech-tags {
	text-align: center;
	border-top: 1px solid #eeeeee;
	padding: 35px 0 15px 0;
	font-size: 1.5em;
}

.tech-tags span {
	background: #505050;
	margin: 0 10px 5px 0;
	padding: 5px 10px;
	border-radius: 4px;
	color: #fff;
	display: inline-block;
	white-space: nowrap;
}
	  
footer  {

	background: black;
	color: white;
	position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
	}
	
footer .container  .footer-content{
	margin: 10px 10px;
}
